.App {
  /*text-align: center;*/
  background-image: url("./pics/web-background.png");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#header-container{
  background-image: url("./pics/web-background.png");
  width: 75%;
  /*height: 100px;*/
  margin: 0 0 0 200px;
  display: block;
  position: fixed;
  align-items: flex-start;
}
#header-container #header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
#header-title{
  flex: 0 0 200px;
  margin: 0 0 0 100px;
  text-align: center;
  color: #0c0c0c;
  padding: 2rem 0 0;
}

.main-nav{
  flex: 0 0 auto;
  margin-top: 14px;
}

.main-nav ul{
  text-align: center;
  font-weight: bolder;
  color: black;
}

nav li{
  display: inline;
  padding-inline: 4em;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: BlinkMacSystemFont, serif;
  color: black;
}
nav a{
  padding: 4px;
}
nav a:hover{
  background-color: #d4d4da;
  border-radius: 9999px;
}

#header-container #header #header-search{
  flex: 0 1 200px;
  margin: 0 30px 0 70px;
  text-align: right;
  padding: 2rem 0 0;
}
#header-search .search-ajax {
  display: inline-block;
  width: 100%;
}
.search-ajax input {
  padding: 8px 8px;
  width: 90%;
  border-radius: 4px;
  background-color: whitesmoke;
  color: black;
  border: none;
}

#header-hr {
  background-color: #d0d0d0;
  width: auto;
  border: 1px solid #d0d0d0;
}
