.App {
    background-image: url("./pics/web-background.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: nowrap;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    width: 100%;
    border-bottom: 2px solid #d0d0d0;
}

.header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.header-title {
    flex: 0 0 200px;
    margin: 0 0 0 300px;
    text-align: center;
    align-items: center;
    color: #0c0c0c;
    padding: 3px;
}

.header-span {
    font-size: 40px;
    animation: shining 0.1s infinite;
}

@keyframes shining {
    from {
        text-shadow: 0 0 3px rgba(182, 211, 207, 0.9),
        0 0 30px rgba(182, 211, 207, 0.3), 0 0 12px rgba(132, 94, 247, 0.19),
        0 0 21px rgba(185, 165, 247, 0.99), 0 0 34px rgba(186, 165, 243, 0.8),
        0 0 54px rgba(197, 177, 244, 0.9);
    }
    to {
        text-shadow: 0 0 3px rgba(182, 211, 207, 1),
        0 0 30px rgba(182, 211, 207, 0.4), 0 0 12px rgba(162, 136, 244, 0.6),
        0 0 22px rgba(183, 163, 255, 0.8), 0 0 38px rgba(177, 155, 247, 0.9),
        0 0 60px rgb(181, 162, 252);
    }
}

.main-nav {
    flex: 0 0 auto;
}

.main-nav ul {
    text-align: center;
    font-weight: bolder;
    color: black;
}

nav li {
    display: inline;
    padding: 1em 3.5em 1em 3.5em;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: BlinkMacSystemFont, serif;
    color: black;
}

nav a {
    padding: 4px 20px;
    cursor: default;
}

nav a:hover {
    background-color: #d4d4da;
    border-radius: 9999px;
}

.header-search {
    padding-top: 0.8em;
    flex: 0 0 200px;
    margin: 0 30px 0 70px;
    text-align: right;
}

.search-ajax {
    display: inline-block;
    width: 100%;
}

.search-ajax input {
    padding: 8px 8px;
    width: 90%;
    border-radius: 4px;
    background-color: whitesmoke;
    color: black;
    border: none;
}

.book-box {
    min-height:700px;
    margin: 100px 90px 0 400px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.book-container {
    width: 68%;
    height: 330px;
    text-align: center;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-bottom: 60px;
}

.edit-column {
    height: 50px;
    padding-bottom: 5px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    border-bottom: 2px solid #d7d7d7;
}

.edit-svg {
    padding:10px 5px 2px 10px;
    float:right;
}


.content-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.article-title {
    padding: 0 0 10px 25px;
    margin: 5px 681px 0 0;
    font-family: "Noto Sans Egyptian Hieroglyphs", serif;
}

.article-content {
    height: 310px;
    width: 750px;
}

.title-navigator {
    padding-top: 23%;
}

.svg-title {
    margin: 70px 12px;
}

.edit-card {
    padding:10px 0 0 10px;
}

.edit-block:hover path{
    fill:black;
}

.title-navigator:hover path{
    fill:black;
}

.form-textarea {
    padding-top: 10px;
}

.form-textarea > textarea {
    vertical-align: text-top;
}

.summary-box {
    border-top: 2px solid whitesmoke;
    height: 260px;
}

.summary-content {
    margin:15px 0 15px 25px;
    width: 720px;
    text-align: justify;
    text-justify: inter-ideograph;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
    -webkit-line-clamp: 13;
}

.summary-title {
    padding-top: 10%;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 36px;
}

.footer-background {
    padding: 30px 0;
    background-color: #d4d4da;
}

.footer-content {
    text-align: center;
    margin-top: 10px;
}

.footer-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.item {
    line-height: 2;
    font-size: 16px;
    cursor: default;
    color: gray;

}

a:link {
    text-decoration: none;
}

.item:hover {
    color: #1890ff;
}
